.addform {
  /* overflow-y: hidden; */
  height: 35rem;
  color: black;
}
input{
    color:black;

}


.form{
    /* width: 320px; */
  padding: 20px;
  border: 5px solid gray;
  margin: 0;
  overflow: scroll;
  height: 30rem;
  color: black;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
 
span{
  color:black;
}