.button3 {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button5 {border-radius: 50%;}
  .jobs{
    height: 88.5vh;
    width: 72.5%;
    float: left;
    overflow: auto;
  }
  .sorting-filters{
    background-color: #19414b;
    height: 88.5vh;
    width: 25%;
    /* float: left; */
    overflow: auto;
  margin-top: 0.6rem;
  margin-left: 10px;
  float: right;
  }
  ::-webkit-scrollbar {
    display: none;
}
