.jobstack{
    position: absolute; left: 10%; top: 10%;right: 10%; bottom: 1%;
}
.MuiTableCell-root{
    text-align: center;
    font-weight: 900;

}
span{
    color:black;
}
svg{
    color:black;
}
.optionListContainer{
    color:black;
}
.MuiTableCell-root{
    padding: 0px;
}

@media screen and (max-width:1000px){
    .jobstack{
        position: absolute; left: 0%; top: 10%;right: 0%; bottom: 1%;
    }
}