body {
    background-color:#e6e6e6;
    /* background-color: white; */
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    min-width: 60%;
    min-height: 100%;
    }
  
    h1 {
      color: white;
    }
    div{
        color:white;
    }
    .lower{
        margin-left: 28%;
        margin-top: 2%;
    }
    .r1{
        display: inline-block;
    }
    .r2{
        display: inline-block;
        margin-left: 3%;
    }
    .features{
        margin-left: 17%;
    }
    .login-landing{
      position: absolute;
        /* margin-left: 40%; */
        left: 50%;
        top:50%;
        margin-top:-14rem;
        margin-left: -12rem;
    }
    .img1{
      margin-left: 7rem;
      opacity: 10%;
      width: 10rem;
      transform: rotate(-20deg);
      position: absolute;
    }
    .img2{
      margin-left: 80rem;
      margin-top: -4rem;
      opacity: 10%;
      width: 10rem;
      transform: rotate(15deg);
      position: absolute;
    }
    .img3{
      margin-left: 9rem;
      margin-top: 20rem;
      opacity: 10%;
      width: 10rem;
      transform: rotate(15deg);
      position: absolute;
    }
    .img4{
      margin-left: 70rem;
      margin-top: 20rem;
      opacity: 10%;
      width: 10rem;
      transform: rotate(-10deg);
      position: absolute;
    }
    @media screen and (max-width:1000px){
        .r1{
            display: block;
        }
        .img1{
          margin-left:-1rem;
          width: 5rem;
        }
        .img2{
          margin-top: -5rem;
          margin-left: 83%;
          width: 5rem;
        }
        .img3{
          margin-left: 0;
          width: 5rem;
          margin-top: 85%;
        }
        .img4{
          margin-left: 85%;
          margin-top: 70%;
          width: 5rem;
        }
        .r2{
            display: block;
            margin-left: 0;
        }
        .features{
            margin-left: 0;
        }
        .lower{
            margin-left: 12%;
        }
        .login-landing{
          margin-top: -7rem;
        }
    }





    /* google Button */

    /* Shared */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  
  /* Google */
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }