
body {
  background-image: url('../media/back6.jpg');
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 60%;
  min-height: 100%;
  }

  h1 {
    color: white;
  }
  div{
      color:white;
  }
  @font-face {
    font-family: 'GameofThrones';
    src: url('./fonts/GameofThrones.eot');
    src: url('./fonts/GameofThrones.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GameofThrones.woff2') format('woff2'),
        url('./fonts/GameofThrones.woff') format('woff'),
        url('./fonts/GameofThrones.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.GOTtext{
  display: flex;
  justify-content: center;
  font-family: 'GameofThrones';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(28, 55, 59);
}
.GOTone{
  font-size: 50px;
  margin-top: 50px;
}
.GOTtwo{
  font-size: 40px;
  margin-top: 30px;
}
@media screen and (max-width:640px){
  .GOTone{
    font-size: 30px;
    margin-top: 40px;
  }
  .GOTtwo{
    font-size: 25px;
    margin-top: 20px;
  }
}

